.box_header_brown{
	width:100px;	
	background-image:url(images/box_header_brown.jpg);
	background-repeat:repeat-x;
	height:35px;
	border:1px solid #808080;
	color:#243356;	
}

#body_bg_img {	background:  url(../images/bg_image6.jpg) center 0px no-repeat;}

#tabulae {font-weight: bold; font-size:11px;}

















