/* **** BEGIN FIXEDBOX **** */

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-position: outside;
  line-height: 1em;
}
  li.gamelistitem, .gamelisttopitem {
    margin: 0;
    padding: 0;
    background: none;
    list-style-type: none;
  }

.gamelisttopitem {
  width:220px;
  height:50px;
  overflow:hidden;
  line-height: 11px;
}
.gamelistitem {
  overflow: hidden;
  line-height: 11px;
  height: 55px;
}




.box258 {
  float: left;
  display: inline;
  width: 258px;
  margin: 0 10px 10px 0;
}


.box200 {
  display: block;
  position: relative;
  width: 200px;
  margin: 0 0 10px 0;
}

.rightcolumnbox {
  margin: 0 0 10px 0;
}

.boxtop {
  display: block;
  position: relative;
  height: 15px;
  padding: 0;
}
.boxheadertable {
  width: 100%;
  height: 100%;
  margin: 0;
}

.boxcontent {
  display: block;
  padding: 5px 10px 0 10px;
  height: auto!important; 
  height: 100%;           
}


.boxcontent ul {
  margin: 0;
}



.box258orangefill .boxheader {
	width: 200px;	
	background-image:url(images/box_header_brown.jpg);
	background-repeat:repeat-x;
	height:35px;
	border:1px;
	color:#243356;
	
	/*	
	background: #fff 
	url(http://cdn.media.zylom.com/images/site/zylom/fixedboximages/258px/orange/filled/header.png) 
	0px -5px no-repeat;
	*/
}




.box200orangefill .boxheader {

	width: 200px;	
	background-image:url(images/box_header_brown.jpg);
	background-repeat:repeat-x;
	height:35px;
	border:0px;
	color:#243356;
	
	/*
	background: #fff 
	url(http://cdn.media.zylom.com/images/site/zylom/fixedboximages/200px/orange/filled/header_bottom.png) 
	0px -5px no-repeat;
	*/
}


.box200orangefill .boxbottom {

	width: 200px;	
	background-image:url(images/box_bottom_brown.jpg);
	background-repeat:repeat-x;
	height:26px;
	border:0px;
	color:#243356;

	/*
	background: #fff 
	url(http://cdn.media.zylom.com/images/site/zylom/fixedboximages/200px/orange/filled/header_bottom.png) 
	0px bottom no-repeat;
	*/
}



.box200orange .boxheader h2, .box258orange .boxheader h2,.box528orange .boxheader h2, .boxheader h2 {color: #573001;}
.box200orange .boxheader h2 a, .box258orange .boxheader h2 a,.box528orange .boxheader h2 a, .boxheader h2 a {color: #573001;}
.box200orangefill .boxheader h2, .box258orangefill .boxheader h2, .box528orangefill .boxheader h2, .boxheader h2 {color: #573001;}
.box200orangefill .boxheader h2 a, .box258orangefill .boxheader h2 a, .box528orangefill .boxheader h2 a,  .boxheader h2 a {color: #573001;}




.boxtop h2 {
  display: block;
  margin: 0px 10px;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  line-height: 18px;
  text-align: center;
  font-variant: small-caps;
}
.boxtop a { font-weight: normal; text-decoration: none; }
.boxtop a:hover { text-decoration: none; }

.box200orange .boxtop h2, .box258orange .boxtop h2, .box528orange .boxtop h2, .box740orange .boxtop h2 {color: #573001;}
.box200orange .boxtop h2 a, .box258orange .boxtop h2 a, .box528orange .boxtop h2 a, .box740orange .boxtop h2 a {color: #573001;}
.box200orangefill .boxtop h2, .box258orangefill .boxtop h2, .box528orangefill .boxtop h2, .box740orangefill .boxtop h2 {color: #573001;}
.box200orangefill .boxtop h2 a, .box258orangefill .boxtop h2 a, .box528orangefill .boxtop h2 a, .box740orangefill .boxtop h2 a {color: #573001;}



.gamelistgameimg {
    display: block;
    float:left;
    height:45px;
    width:60px;
    margin-right: 5px;
}
.gamelistitem .gamelistgameimg { width:60px; height:45px; }
.gamelistgamename a, .gamelistgamename a:hover,
.gamelistmoregames a, .gamelistmoregames a:hover { font-weight: normal; text-decoration: none; }

.gamelistitem .gamelistgamename a { overflow:hidden; color:#333333; }
    
.gamelistitem .gamelistgamename,
.gamelistitem .gamelistgamerating,
.gamelistitem .gamelistdownload,
.gamelistitem .gamelistplay,
.gamelistitem .gamelistplayers,
.gamelistitem .gamelistfacebook { height:15px; }
.gamelistitem .gamelistgamename a { font-weight:bold; }
.gamelistitem .gamelistgamename a:hover { font-weight:bold; }
 a li.gamelistitem p.gamelistgamename { font-weight:bold; }
 a li.gamelistitem p.gamelistgamename:hover { font-weight:bold; }
 a.green li.gamelistitem { font-weight:bold; }
 a.green li.gamelistitem:hover { font-weight:bold; color:#BAE024; }
.gamelistitem .gamelistgamerating,
.gamelistitem .gamelistplayers { color:#868283; font-size:0.9em; }
.gamelistitem .gamelistdownload,
.gamelistitem .gamelistplay,
.gamelistitem .gamelistfacebook { font-size:0.9em; }
.gamelistitem .gamelistdownload a,
.gamelistitem .gamelistplay a,
.gamelistitem .gamelistplaywin a,
.gamelistitem .gamelistfacebook a { font-weight:bold; text-decoration:none; }
.gamelistmoregames { text-align:center; padding-top:5px;}

.gamelistitem .gamelistplay a { color:#5E7850; }
.gamelistitem .gamelistplay a:hover { color:#BAE024; }
.gamelistitem .gamelistdownload a { color:#B35182; }
.gamelistitem .gamelistdownload a:hover { color:#ff7000; }
.gamelistitem .gamelistfacebook a { color:#46A3E6; }
.gamelistitem .gamelistfacebook a:hover { color:#466399; }


.gamelistitem .gamelistgamename a:hover.orange { color:#ff7000; }
.gamelistitem .gamelistgamename a:hover.green { color:#BAE024; }
.gamelistitem .gamelistgamename a:hover.purple { color:#A926BD; }
.gamelistitem .gamelistgamename a:hover.blue { color:#0F79FB; }
.gamelistitem .gamelistgamename a:hover.darkblue { color:#466399; }

.gamelistitem .gamelistgamename a.orange,
.gamelistitem .gamelistgamename a.green,
.gamelistitem .gamelistgamename a.purple,
.gamelistitem .gamelistgamename a.blue,
.gamelistitem .gamelistgamename a.darkblue { background:none; } 



.gamelistbox_small .gamelistitem {
  width: 180px;
  height: 30px;
  line-height: 11px;
  overflow: hidden;
}
.gamelistbox_small .gamelistgameimg {
  height: 25px;
  width: 25px;
}
.gamelistbox_small .gamelistgamename {
  height: 24px;
  font-size: 10px;
  line-height: 12px;
  overflow: hidden;
}

.boxcontent.categorybox { padding: 5px 2px 0; }
.gamelistbox_small .boxheadertable {
  position: relative;
  top: -15px;
  text-align: center;
  height: 0;
  width: 180px;
}

.gamelistbox_2lines .gamelistitem .gamelistgamename,
.gamelistbox_2lines .gamelistitem .gamelistdownload,
.gamelistbox_2lines .gamelistitem .gamelistplay,
.gamelistbox_2lines .gamelistitem .gamelistplayanddownload {
    height: 30px;
    line-height: 14px;
}


.box_singlelink .gamelistdownload,
.box_singlelink .gamelistplay,
.box_singlelink .gamelistfacebook,
.box_singlelink .gamelistbuy,
.box_singlelink .gamelistplayfree,
.box_singlelink .gamelistplaywin
.box_singlelink .gamelistplayanddownload { font-weight: bold; font-size:0.9em; }

.gamelistitem a .gamelistgamename { font-weight:bold; }
.gamelistitem a:hover gamelistgamename { font-weight: bold; }


.box_singlelink a .gamelistdownload,
.box_singlelink a .gamelistplay,
.box_singlelink a .gamelistplaywin,
.box_singlelink a .gamelistfacebook,
.box_singlelink a .gamelistbuy,
.box_singlelink a .gamelistplayfree
.box_singlelink a .gamelistplaywin,
.box_singlelink a .gamelistplayanddownload { font-weight:bold; text-decoration:none; }

.box_singlelink a .gamelistplayanddownload { 
    display: table-cell;
    vertical-align: bottom;
    font-size:0.9em;
    height: 30px;
}


.dynamic_box .boxheader h2 {
    display: table-cell;
    height: inherit;
    padding: 0 0 0 10px;
    vertical-align: middle;
}
.dynamic_box .headerinfo {
    display: block;
    float: right;
    margin: 0px -5px 0 5px;
    position: relative;
    right: 0;
}
.dynamic_box .boxheader_container,
.dynamic_box .boxcontent_container,
.dynamic_box .boxbottom_container{
position:relative;
}

/*   BOX GENERIC*/


/*
.dynamic_box .boxheader{
	width: 258px;	
	background-image:url(images/box_header_brown.jpg);
	background-repeat:repeat-x;
	height:35px;
	border:1px solid #808080;
	color:#243356;
}
*/
.dynamic_box .boxheader{ background: #fff url(../images/all_boxes.png) 0 0 no-repeat;} 

.dynamic_box .boxheader_right{
height:44px;width:13px; position:relative;right:0px; float:right;
background: #fff url(../images/all_boxes.png) 0 0 no-repeat;
}
.dynamic_box .boxcontent{
background: #fff url(../images/all_boxes.png) 0 0 repeat-y;
}
.dynamic_box .boxcontent_right{
height:100%;width:13px; position:absolute;right:0px;
background: #fff url(../images/all_boxes.png) 0 0 repeat-y;
}
.dynamic_box .boxbottom_right{
height:20px;width:13px; position:relative;right:0px; float:right;
background: #fff url(../images/all_boxes.png) 0 0 no-repeat;
}
.dynamic_box .boxbottom {
height:20px;
background: #fff url(../images/all_boxes.png) 0 0 no-repeat;
}


.dynamic_box.boxgreen .boxheader_right{background-position: -5727px -5px; }
.dynamic_box.boxgreen .boxheader {background-position: -5000px -5px;  }

.dynamic_box.boxgreen .boxcontent_right{background-position: -4727px 0px;}
.dynamic_box.boxgreen .boxcontent {background-position: -4000px 0;}

.dynamic_box.boxgreen .boxbottom_right{background-position: -3727px 0px;}
.dynamic_box.boxgreen .boxbottom {background-position: -3000px 0px;}

.dynamic_box.boxorange .boxheader_right{background-position: -8727px -5px; }
.dynamic_box.boxorange .boxheader {background-position: -8000px -5px;  }

.dynamic_box.boxorange .boxcontent_right{background-position: -7727px 0px;}
.dynamic_box.boxorange .boxcontent {background-position: -7000px 0;}

.dynamic_box.boxorange .boxbottom_right{background-position: -6727px 0px;}
.dynamic_box.boxorange .boxbottom {background-position: -6000px 0px;}


/* **** END FIXEDBOX **** */
