/* **** BEGIN MAIN **** */

* {
    margin: 0;
    padding: 0;
    }

html, body {
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 10px;
    line-height: 1.4em;	
    font-family: Verdana, Sans-Serif, Arial;
    }

 
#sitewrapper {
    display:block; 
    width:100%; 
    height:100%; 
    margin:0; 
    padding:0; 
    _overflow-x:hidden;
}
#sitecontainer {
    position: relative;
    width: 760px;
    margin: 0 auto;
    background: #fff;
    }


#headernavigation {
    position: relative;
    width: 760px;
    height: 105px;
    z-index:100;
    background: transparent url(../images/mainback.gif) top left no-repeat;
    }

    #logo {
        position: absolute;
        display: block;
        margin: 0;
        padding: 0;
        top: 8px;
        left: 18px;
        height: 53px;
        width: 150px;
        }
                    

#headerextra {
    width: 740px;
    height: 20px;
    margin: 3px auto 5px auto;
    z-index: 1;
    }

#content {
    position: relative;
    width: 760px;
    padding: 0px 0px 0px 0px;
    margin-bottom: 40px;
    text-align: left;
    font-size: 1.1em;    
    background-color: #fff;
    }  

#centercolumn {
  position: relative;
  left: 10px;
  width: 740px;
}

#leftcolumn {
  float: left;
  display: inline;
  width: 540px;
}
    
#rightcolumn {
  float: right;
  display: inline;
  width: 200px;
}
    
#footer {
  position: relative;
  width: 760px;
  background-color: #fff;
  text-align: center;
}

#footerclose {
  display: block;
  position: relative;
  width: 760px;
  height: 23px;
}
        
 
#tagline {
    position: relative;
    display: block;
    height: 35px;
    margin-bottom: 2px;
    }
    #tagline.deluxe,
    #tagline.hybrid,
    #tagline.online {
        width: 600px;
    }
    #tagline h1 {
        float: left;
        width: 500px;
        display: inline;
        margin-left: 5px;
        padding-top: 1px;

        }
   #tagline .players {
        float: right;
        display: inline;
        margin-right: 15px;        
       }        
   #rightcolumn .players {
        margin-bottom:8px;
       }

#featuredbox {
    display: block;
    width: 510px;
    margin-bottom: 10px;
    background-color: #fcc;
    }    

ul, ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-position: outside;
    margin-left: 1em;
    line-height: 1em;
    }
    li.glitem, .gltopitem {
        margin: 0;
        padding: 0;
        background: none;
        list-style-type: none;
        }    

.gltopitem {
    width:220px;
    height:50px;
    overflow:hidden;
    line-height: 11px;
    }
.glitem {
    width:220px;
    height:30px;
    overflow:hidden;
    line-height: 11px;
    }


.moregamesitemimage {
    float:left;
    height:90px;
    width:90px;
    }
.moregamesitemdescription {
    padding-top: 2px;
    line-height: 1.1em;
    }
.moregamesitemlinks {
    display:block;
    clear:both;
    padding:0px 0px 0px 8px;
    height:20px;
    }
    
    
#footer .footerlinks,
#footer .footercountrylinks,
#footer .footerpromotext,
#footer h2.new,
#footer .footercopyright {
        display: block;
        text-align: center;
        padding: 0 10px;
        }        
#footer .footercopyright {margin-bottom: 12px;}
.footerlogos img {vertical-align: middle;}

     
      


#headernavigationsubnavigation a {color: #5e7850;}
#headerextra a {color: #333;}
    #headerextra a:hover {color: #5e7850;}





#footer .footerlinks,
#footer .footercountrylinks,
#footer .footerpromotext,
#footer h2.new,
#footer .footercopyright {
        font-size: 0.9em;	
        }          
.clearer {
    display:block;
    height:1px;
    line-height:0px;
    font-size:0px;
    clear:both;
    }

.sub_headline1{
    color: #9f9f9f;
    height:55px;
}
.sub_headline2{
    height:55px;
}

.sub_headline1 h1{
    color: #747474;
    font-size: 11px;
    font-weight: bold;
}

  .sideadpromo {
    position: relative;
    display: block;
    width: 200px;
    height: 318px;
    margin-bottom: 5px;
    background: transparent url(../images/hs-2010-13-a-web.jpg) top center no-repeat;
  }





.clearfix {
    display: inline-block;
}





#headernavigation.grey, .headerbar.grey,
#headernavigation.grey #headernavigationbuttons a{background-image: url(../images/header_grey.png)}
#headernavigation.green, .headerbar.green,
#headernavigation.green #headernavigationbuttons a{background-image: url(../images/header_green.png)}
#headernavigation.orange, .headerbar.orange,
#headernavigation.orange #headernavigationbuttons a{background-image: url(../images/header_grey.png)}
#headernavigation.blue, .headerbar.blue,



#headernavigation .mainback { background-position: -0px -0px; }

#headernavigation #headernavigationbuttons a.download { background-position: -305px -105px; }
#headernavigation #headernavigationbuttons a.play { background-position: -0px -105px; }
#headernavigation #headernavigationbuttons a.offer { background-position: -478px -105px; }
#headernavigation #headernavigationbuttons a.funpass { background-position: -197px -105px; }
#headernavigation #headernavigationbuttons a.support { background-position: -108px -105px; }

#headernavigation #headernavigationbuttons a:hover.download { background-position: -305px -146px; }
#headernavigation #headernavigationbuttons a:hover.play { background-position: -0px -146px; }
#headernavigation #headernavigationbuttons a:hover.offer { background-position: -478px -146px; }
#headernavigation #headernavigationbuttons a:hover.funpass { background-position: -197px -146px; }
#headernavigation #headernavigationbuttons a:hover.support { background-position: -108px -146px; }

#headernavigation.orange #headernavigationbuttons a.download { cursor:default }
#headernavigation.green #headernavigationbuttons a.play { cursor:default }
#headernavigation.episodic #headernavigationbuttons a.episodic { cursor:default }
#headernavigation.purple #headernavigationbuttons a.funpass { cursor:default }
#headernavigation.blue #headernavigationbuttons a.support { cursor:default }
#headernavigation.red #headernavigationbuttons a.offer{ cursor:default }

.orange #headernavigationsubnavigation a, 
#headernavigation.orange  #headernavigationsubnavigation a, 
#headernavigation.orange  #headernavigationchoosecountry a:hover, 
#headerextra.orange a:hover {color: #GREY;}






.sprite_common_image {background-image: url(../images/mag-glass.png); }




/* SEARCH HEADER */
     a.listingplayblue2 {
        background-color: transparent;
        background-position: -576px -0px;
        height: 23px;
        width: 23px;
        border: 0;
        cursor: pointer;
        margin-left:10px;
        position: absolute;
        top: 0;
        left: 155px;
    }
    a.listingplayblue2:hover{
        background-position: -576px -23px;
        height: 23px;
        width: 23px;
    }
    .input{
        background-color: #ffffff;
        font-size: 12px;
        font-style: italic;
        color: #adadad;
        padding-left: 5px;
    }
    input:focus, .input_focus { 
        color: #000000; 
        font-size: 12px;
        padding-left: 5px;
        font-style: normal;
    }
 


  
/* **** END MAIN **** */

