/* **** BEGIN SPOTLIGHT **** */

.spotlightbox {
  position: relative;
  display: block;
  width: 528px;
  height: 323px  
}

#spotlightboxbackground {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 528px;
    height:323px;
    background: url(http://cdn.media.zylom.com/images/site/zylom/sprites/spotlight.png) 0 0 no-repeat;

}

#spotlightcorner_lu {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 24px;
    height:19px;
    background: url(http://cdn.media.zylom.com/images/site/zylom/sprites/spotlight.png) -200px -323px; no-repeat;
    z-index:3
}

#spotlightcorner_lb {
    position: absolute;
    top: 271px;
    left: 0px;
    width: 22px;
    height: 23px;
    background: url(http://cdn.media.zylom.com/images/site/zylom/sprites/spotlight.png) -152px -323px; no-repeat;
    z-index:3
}

#spotlightcorner_ru {
    position: absolute;
    top: 0px;
    left: 504px;
    width: 23px;
    height: 19px;
    background: url(http://cdn.media.zylom.com/images/site/zylom/sprites/spotlight.png) -224px -323px; no-repeat;
    z-index:3
}

#spotlightcorner_rb {
    position: absolute;
    top: 270px;
    left: 505px;
    width: 24px;
    height: 19px;
    background: url(http://cdn.media.zylom.com/images/site/zylom/sprites/spotlight.png) -177px -323px; no-repeat;
    z-index:3
}

#multiplayeroverview #spotlightboxbackground {
    background: url(http://cdn.media.zylom.com/images/site/zylom/sprites/spotlight_multi.png) 0 0 no-repeat;
}

#multiplayeroverview #spotlightcorner_lu {
    background: url(http://cdn.media.zylom.com/images/site/zylom/sprites/spotlight_multi.png) -200px -323px; no-repeat;
    height:18px;
}

#multiplayeroverview #spotlightcorner_lb {
    background: url(http://cdn.media.zylom.com/images/site/zylom/sprites/spotlight_multi.png) -152px -323px; no-repeat;
}

#multiplayeroverview #spotlightcorner_ru {
    background: url(http://cdn.media.zylom.com/images/site/zylom/sprites/spotlight_multi.png) -224px -323px; no-repeat;
    height:18px;
}

#multiplayeroverview #spotlightcorner_rb {
    background: url(http://cdn.media.zylom.com/images/site/zylom/sprites/spotlight_multi.png) -177px -323px; no-repeat;
    left: 506px;
}

#overlay,
#overlayA {
  position: absolute;
  top: 8px;
  left: 11px;
  background-color: #fff;
  width: 505px;
  height: 274px;
  display: none;
  z-index:2;
  opacity:0;
}



.spotlightcontrol {
  position: absolute;
  top: 285px;
  left: 60px;
  width: 420px;
  z-index: 4;
}
.spotlightcontrolitems {
   float: left;
}
.spotlightcontrolitems a {
  background: transparent url(http://cdn.media.zylom.com/images/site/zylom/sprites/spotlight.png) 0 -323px no-repeat;
  width: 13px;
  height: 13px;
  display: inline-block;
  float: left;
  margin-right: 3px;
  overflow: hidden;
}
a.spotlight_tab1 { background-position:-74px -323px; }
a.spotlight_tab1_active { background-position:-74px -336px; }
a.spotlight_tab2 { background-position:-87px -323px; }
a.spotlight_tab2_active { background-position:-87px -336px; }
a.spotlight_tab3 { background-position:-100px -323px; }
a.spotlight_tab3_active { background-position:-100px -336px; }
a.spotlight_tab4 { background-position:-113px -323px; }
a.spotlight_tab4_active { background-position:-113px -336px; }
a.spotlight_tab5 { background-position:-126px -323px; }
a.spotlight_tab5_active { background-position:-126px -336px; }
a.spotlight_tab6 { background-position:-139px -323px; }
a.spotlight_tab6_active { background-position:-139px -336px; }

.spotlightcontrolcurrentitem {
    float: left;
    text-align: center;
    width: 250px;
}
.spotlightcontrolbuttons {
    float: right;
}
.spotlightpromo {
    position: absolute;
    left: 11px;
    top: 8px;
}
.spotlightcontrolbuttons a {
  background: transparent url(http://cdn.media.zylom.com/images/site/zylom/sprites/spotlight.png) 0 -323px no-repeat;
  display: block;
  float: left;
  width: 19px;
  height: 18px;
  text-decoration: none;
}
a.spotlight_previous { background-position:0 -323px; }
a:hover.spotlight_previous { background-position:0 -341px; }
a.spotlight_next { background-position:-19px -323px; width:17px; }
a:hover.spotlight_next { background-position:-19px -341px; }
a.spotlight_pause { background-position:-36px -323px; }
a:hover.spotlight_pause { background-position:-36px -341px; }
a.spotlight_play { background-position:-55px -323px; }
a:hover.spotlight_play { background-position:-55px -341px; }

#multiplayeroverview .spotlightcontrolitems a {
  background: transparent url(http://cdn.media.zylom.com/images/site/zylom/sprites/spotlight.png) 0 -323px no-repeat;
}
#multiplayeroverview a.spotlight_tab1 { background-position:-74px -323px; }
#multiplayeroverview a.spotlight_tab1_active { background-position:-74px -336px; }
#multiplayeroverview a.spotlight_tab2 { background-position:-87px -323px; }
#multiplayeroverview a.spotlight_tab2_active { background-position:-87px -336px; }
#multiplayeroverview a.spotlight_tab3 { background-position:-100px -323px; }
#multiplayeroverview a.spotlight_tab3_active { background-position:-100px -336px; }
#multiplayeroverview a.spotlight_tab4 { background-position:-113px -323px; }
#multiplayeroverview a.spotlight_tab4_active { background-position:-113px -336px; }
#multiplayeroverview a.spotlight_tab5 { background-position:-126px -323px; }
#multiplayeroverview a.spotlight_tab5_active { background-position:-126px -336px; }
#multiplayeroverview a.spotlight_tab6 { background-position:-139px -323px; }
#multiplayeroverview a.spotlight_tab6_active { background-position:-139px -336px; }

#multiplayeroverview .spotlightcontrolbuttons a {
  background: transparent url(http://cdn.media.zylom.com/images/site/zylom/sprites/spotlight.png) 0 -323px no-repeat;
}
#multiplayeroverview a.spotlight_previous { background-position:0 -323px; }
#multiplayeroverview a:hover.spotlight_previous { background-position:0 -341px; }
#multiplayeroverview a.spotlight_next { background-position:-19px -323px; width:17px; }
#multiplayeroverview a:hover.spotlight_next { background-position:-19px -341px; }
#multiplayeroverview a.spotlight_pause { background-position:-36px -323px; }
#multiplayeroverview a:hover.spotlight_pause { background-position:-36px -341px; }
#multiplayeroverview a.spotlight_play { background-position:-55px -323px; }
#multiplayeroverview a:hover.spotlight_play { background-position:-55px -341px; }

.spotlightitem {
  display: block;
  width: 202px;
  height: 46px;
  padding: 0;
  color: #000;
  font-size: 0.9em;
  line-height: 14px;
  font-weight: bold;
  text-decoration: none;
  opacity:.5; filter:alpha(opacity=50);
  background: transparent;
}
.spotlightitem span {
  display: block;
  height: 29px !important;
  height: 33px;
  padding: 6px 6px 0px 25px;
  overflow: hidden;
  cursor: pointer;
}
.spotlightitemhover {
  display: block;
  width: 202px;
  height: 46px;
  padding: 0;
  color: #000;
  font-size: 0.9em;
  line-height: 14px;
  font-weight: bold;
  text-decoration: none;
  background: transparent;
  opacity:1; filter:alpha(opacity=100);
}  
.spotlightitemhover span {
  display: block;
  height: 29px !important;
  height: 33px;
  padding: 6px 6px 0px 25px;
  overflow: hidden;
  cursor: pointer;
}

.spotlightitem img, .spotlightitemhover img {
  float: left;
  margin: 2px 6px 0px 0px;
  border: 0;
}

.spotlightsinglegameplacer {
    display: block;
    position: absolute;
    width: 505px;
    height: 274px;
}
.spotlightsinglegameplacer a.clickbox {
    display: block;
    position: absolute;
    width: 505px;
    height: 274px;
    text-decoration: none;
}
.spotlightsinglegameplacer a.clickbox span {
    line-height: 0;
    font-size: 0;
    visibility: hidden;
}
.spotlightsinglegameplacer .infobuttontext, .spotlightsinglegameplacer .playbuttontext_dl, .spotlightsinglegameplacer .downloadbuttontext, .spotlightsinglegameplacer .playbuttontext {
    display: block;
    position: absolute;
    top: 233px;
    font-size: 12px;
    font-weight: bold;
    float: left;
    width: 168px;
    height: 37px;
}
.spotlightsinglegameplacer .infobuttontext {left: 152px;}
.spotlightsinglegameplacer .playbuttontext_dl {left: 152px;}
.spotlightsinglegameplacer .downloadbuttontext, .playbuttontext {left: 327px;}

.infobuttontext {
   background: transparent url('http://cdn.media.zylom.com/images/site/zylom/buttons/spotlight_buttons/button_blue/button_blue.png') 0px 0px no-repeat;
}
.playbuttontext_dl {
   background: transparent url('http://cdn.media.zylom.com/images/site/zylom/buttons/spotlight_buttons/button_green/button_green.png') 0px 0px no-repeat;
}
.downloadbuttontext {
   background: transparent url('http://cdn.media.zylom.com/images/site/zylom/buttons/spotlight_buttons/button_brown/button_brown.png') 0px 0px no-repeat;
}
.playbuttontext {
   background: transparent url('http://cdn.media.zylom.com/images/site/zylom/buttons/spotlight_buttons/button_green/button_green.png') 0px 0px no-repeat;
}

.infobuttontext:hover,
.playbuttontext_dl:hover,
.downloadbuttontext:hover,
.playbuttontext:hover {
  background-position: 0px -40px;
}
.infobuttontext span,
.playbuttontext_dl span,
.downloadbuttontext span,
.playbuttontext span {
  display: block;
  color: #4f6f11;
  font-size: 11px !important;
  font-weight: bold;
  line-height: 29px !important;
  text-align: center;
  visibility: visible !important;
}

.infobuttontext span{color: #1c5e7b;}
.playbuttontext_dl span{color: #4f6f11;}
.downloadbuttontext span{color: #783b09;}
.playbuttontext span{color: #4f6f11;}



/* banner overlays (supermarket, doublepacks) */
.spotlightsinglegameplacer .spotlight_overlay {
    position: absolute;
    top: 224px;
    width: 505px;
    height: 49px;
    display: block;
}

.spotlightsinglegameplacer .spotlight_overlay_zsm {
    position: absolute;
    top: 214px;
    width: 505px;
    height: 63px;
    display: block;
}

/* layer over the top panel  */
.spotlight_loginoverlay {
  background: transparent url(../images/toppannel_overlay.png) no-repeat;  
  position: absolute;
  top: 0;
  left: 0;
  width: 506px;
  height: 38px;
}
.spotlight_loginoverlay div {
  position: absolute; 
  width: 460px;
  color: #BFB9B9;
  font-size: 12px;
  line-height: 13px;
  margin: 5px 0 0 10px;
}
.spotlight_loginoverlay span { 
  color: #FE6B57;
  font-weight: bold;
}
.spotlight_loginoverlay a {
  display: block;  
  position: absolute;
  top: 10px;
  left: 480px;  
  width: 16px;
  height: 16px;
}






* {
    margin: 0;
    padding: 0;
    }

html, body {
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 10px;
    line-height: 1.4em;	
    font-family: Verdana, Sans-Serif, Arial;
    }



    #logo {
        position: absolute;
        display: block;
        margin: 0;
        padding: 0;
        top: 8px;
        left: 18px;
        height: 53px;
        width: 150px;
        }
                    

#headerextra {
    width: 740px;
    height: 20px;
    margin: 3px auto 5px auto;
    z-index: 1;
    }

#content {
    position: relative;
    width: 760px;
    padding: 0px 0px 0px 0px;
    margin-bottom: 40px;
    text-align: left;
    font-size: 1.1em;    
    background-color: #fff;
    }  


    


        
 
#tagline {
    position: relative;
    display: block;
    height: 35px;
    margin-bottom: 2px;
    }
    #tagline.deluxe,
    #tagline.hybrid,
    #tagline.online {
        width: 600px;
    }
    #tagline h1 {
        float: left;
        width: 500px;
        display: inline;
        margin-left: 5px;
        padding-top: 1px;

        }
   #tagline .players {
        float: right;
        display: inline;
        margin-right: 15px;        
       }        
   #rightcolumn .players {
        margin-bottom:8px;
       }

#featuredbox {
    display: block;
    width: 510px;
    margin-bottom: 10px;
    background-color: #fcc;
    }    

ul, ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-position: outside;
    margin-left: 1em;
    line-height: 1em;
    }
    li.glitem, .gltopitem {
        margin: 0;
        padding: 0;
        background: none;
        list-style-type: none;
        }    

.gltopitem {
    width:220px;
    height:50px;
    overflow:hidden;
    line-height: 11px;
    }
.glitem {
    width:220px;
    height:30px;
    overflow:hidden;
    line-height: 11px;
    }


.moregamesitemimage {
    float:left;
    height:90px;
    width:90px;
    }
.moregamesitemdescription {
    padding-top: 2px;
    line-height: 1.1em;
    }
.moregamesitemlinks {
    display:block;
    clear:both;
    padding:0px 0px 0px 8px;
    height:20px;
    }
    
    

      


#headernavigationsubnavigation a {color: #5e7850;}
#headerextra a {color: #333;}
    #headerextra a:hover {color: #5e7850;}


        
.clearer {
    display:block;
    height:1px;
    line-height:0px;
    font-size:0px;
    clear:both;
    }

.sub_headline1{
    color: #9f9f9f;
    height:55px;
}
.sub_headline2{
    height:55px;
}

.sub_headline1 h1{
    color: #747474;
    font-size: 11px;
    font-weight: bold;
}

  .sideadpromo {
    position: relative;
    display: block;
    width: 200px;
    height: 318px;
    margin-bottom: 5px;
    background: transparent url(../images/hs-2010-13-a-web.jpg) top center no-repeat;
  }


.clearfix {
    display: inline-block;
}



#top_menu_container.orange, .headerbar.orange,
#top_menu_container.orange 
#top_menu_button a{background-image: url(../images/header_grey.png)}



/* SEARCH HEADER */
     a.listingplayblue2 {
        background-color: transparent;
        background-position: -576px -0px;
        height: 23px;
        width: 23px;
        border: 0;
        cursor: pointer;
        margin-left:10px;
        position: absolute;
        top: 0;
        left: 155px;
    }
    a.listingplayblue2:hover{
        background-position: -576px -23px;
        height: 23px;
        width: 23px;
    }
    .input{
        background-color: #ffffff;
        font-size: 12px;
        font-style: italic;
        color: #adadad;
        padding-left: 5px;
    }
    input:focus, .input_focus { 
        color: #000000; 
        font-size: 12px;
        padding-left: 5px;
        font-style: normal;
    }
    
    
    
 /* **** BEGIN TOPNAVIGATION **** */
#headernavigationchoosecountry {
    text-align: right;
    padding: 8px 26px 0px 0px;
    font-size: 0.9em;
    }


#headernavigationsubnavigation {
    position: absolute;
    top: 78px;
    left: 2px;
    width: 748px;
    text-align: center;
    font-variant:small-caps;
    }

#headernavigationsubnavigation a {
        padding: 0px 6px 0px 6px;
        text-align: center;
        font-weight: normal;
        font-family: verdana;
        font-size: 1.2em;
        text-decoration: none;
}

#headerextra a {
	float:right;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.1em;
}

#headernavigationsubnavigation li {
            margin: 0;
            padding: 0;
            list-style: none;
            float: left;
            font: bold 11px arial;
            background: transparent;
}

#horizontal_main_menu {
    position: absolute;
    top:  29px;
    left: 152px;
    width: 590px;
    height: 40px;
    }
#horizontal_main_menu a.menu1,
#horizontal_main_menu a.menu2,
#horizontal_main_menu a.menu3,
#horizontal_main_menu a.menu4,
#horizontal_main_menu a.menu5 {
  dismenu2: inline;
  float: left;
  margin: 0;
  padding: 0;
  height: 41px;
  text-decoration: none;
}

#horizontal_main_menu a.menu1 span,
#horizontal_main_menu a.menu2 span,
#horizontal_main_menu a.menu3 span,
#horizontal_main_menu a.menu4 span,
#horizontal_main_menu a.menu5 span {
  line-height: 41px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  font-family: verdana;
  font-variant:small-caps;
}


#horizontal_main_menu a.menu1 {
  color: black;
  width: 178px ;
  background: url(../images/orangebutton.jpg);
}
#horizontal_main_menu a.menu2 {
  color: black;
  width: 106px ;
  background: url(../images/greenbutton.jpg);
}
#horizontal_main_menu a.menu3 {
  color: black;
  width: 106px ;
  background:  url(../images/redbutton.jpg);
}
#horizontal_main_menu a.menu4 {
  color: black;
  width: 106px ;
  background:  url(../images/purplebutton.jpg);
}
#horizontal_main_menu a.menu5 {
  color: black;
  width: 89px ;
  background:  url(../images/bluebutton.jpg);
}

/* **** END TOPNAVIGATION **** */   
    
    
 

/* **** END SPOTLIGHT **** */