/* **** BEGIN TOPNAVIGATION **** */
#headernavigationchoosecountry {
    text-align: right;
    padding: 8px 26px 0px 0px;
    font-size: 0.9em;
    }


#headernavigationsubnavigation {
    position: absolute;
    top: 78px;
    left: 2px;
    width: 748px;
    text-align: center;
    font-variant:small-caps;
    }

#headernavigationsubnavigation a {
        padding: 0px 6px 0px 6px;
        text-align: center;
        font-weight: normal;
        font-family: verdana;
        font-size: 1.2em;
        text-decoration: none;
}

#headerextra a {
        text-decoration: none;
        font-weight: bold;
        font-size: 1.1em;
}
     
.headerextramyaccount {
      float:right;
 }


#headernavigationsubnavigation li {
            margin: 0;
            padding: 0;
            list-style: none;
            float: left;
            font: bold 11px arial;
            background: transparent;
}


/* **** END TOPNAVIGATION **** */
