
body.menu_item {
	font-family: verdana,helvetica;
	color: #000000;
	background-color: #ad7ce5; 
	margin-left:-8px; 
	margin-top:-8px;
	font-size: 10px;
}

body.white {
	font-family: verdana,helvetica;
	color: #000000;
	background-color: #ffffff;
	font-size: 12px;
}
body {
	font-family: verdana,helvetica;
	color: #000000;
	background-color: #f0e5f8;
	font-size: 12px;
}

td {
	font-family: verdana,helvetica;
	color: #000000;
	font-size: 12px;
}

.menu_item_td {
	font-family: verdana,helvetica;
	background-color: #ad7ce5;
	color: #ffffff;
	font-size: 10px;
}

.menu_item_td_selected {
	font-family: verdana,helvetica;
	color: #ffffff;
	font-weight: bold;
	font-size: 10pt;
}


.white {
	font-family: verdana,helvetica;
	color: #ffffff;
	font-weight: bold;
	font-size: 12pt;
}



p {
	font-family: verdana,helvetica;
	color: #000000;
	font-size: 12px;
}

h1 {
	font-family: verdana,helvetica;
	font-size: 16px;
	font-weight: bold;
	color: #5a1784;
}

a {
	font-family: verdana,helvetica;
	font-size: 12px;
}

a.menu_item:link:focus, a.menu_item:visited:focus {-moz-outline:0px;}
a.menu_item:link { font-size: 10pt; color: #ffffff; font-weight:normal; text-decoration:none;}
a.menu_item:visited { font-size: 10pt; color: #ffffff; font-weight:normal; text-decoration:none;}
a.menu_item:active { font-size: 10pt; color: #ffffff; font-weight:normal; text-decoration:none;}
a.menu_item:hover { font-size: 10pt; background-color: #ffffff; color: #ad7ce4; font-weight:normal; text-decoration:none;}
a.nh:link:focus, a.nh:visited:focus {-moz-outline:0px;}

a:link { color: #4aa2e6; font-weight:normal; text-decoration:underline;}
a:visited { color: #4aa2e6; font-weight:normal; text-decoration:underline;}
a:active { color: #4aa2e6; font-weight:normal; text-decoration:underline;}
a:hover { color: #4aa2e6; font-weight:normal; text-decoration:underline;}


